<?xml version="1.0" encoding="UTF-8"?>

<!-- Don't forget to set system property -Dlog4j2.contextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector 
	to make all loggers asynchronous. -->

<Configuration status="WARN">
	<Appenders>

		<File name="WebListenerApender" fileName="logs/drivers.log" append="false">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<File name="TestListenerAppender" fileName="logs/tests.log" append="false">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n
				</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="WebListener" level="debug" additivity="false">
			<AppenderRef ref="WebListenerApender" />
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="TestListener" level="debug" additivity="false">
			<AppenderRef ref="WebListenerApender" />
			<AppenderRef ref="TestListenerAppender" />
			<AppenderRef ref="console" />
		</Logger>
		<Root level="info" includeLocation="false">
		</Root>
	</Loggers>
</Configuration>